<p-accordion>
  <p-accordionTab header="Add/Update" [selected]="true">
    <form [formGroup]="usersForm" (ngSubmit)="onSubmit()">
      <div class="grid">
        <div class="col-12 lg:col-4 md:col-6 sm:col-12">
          <div class="flex flex-column gap-2">
            <label for="username">Username</label>
            <input pInputText id="username" aria-describedby="username-help" [formControlName]="'userName'" />
            <small *ngIf="!isFormValid" id="username-help">
              Please Enter Username.
            </small>
          </div>
        </div>
        <div class="col-12 lg:col-4 md:col-6 sm:col-12">
          <div class="flex flex-column gap-2">
            <label for="emailAddress">EmailAddress</label>
            <input pInputText id="emailAddress" aria-describedby="emailAddress-help"
              [formControlName]="'emailAddress'" />
            <small *ngIf="!isFormValid" id="username-help">
              Please Enter EmailAddress.
            </small>
          </div>
        </div>
        <!-- [(ngModel)]="newContent.body" -->
        <div class="col-12 lg:col-4 md:col-6 sm:col-12">
          <div class="flex flex-column gap-2">
            <label for="phoneNumber">PhoneNumber</label>
            <input pInputText id="phoneNumber" aria-describedby="phoneNumber-help" [formControlName]="'phoneNumber'" />
            <small *ngIf="!isFormValid" id="username-help">
              Please Enter PhoneNumber.
            </small>
          </div>
        </div>
        <div class="col-12 lg:col-4 md:col-6 sm:col-12">
          <div class="flex flex-column gap-2">
            <label for="emailOTP">EmailOTP</label>
            <input pInputText id="emailOTP" aria-describedby="emailOTP-help" [formControlName]="'emailOTP'" />
            <small *ngIf="!isFormValid" id="username-help">
              Please Enter emailOTP.
            </small>
          </div>
        </div>
        <div class="col-12 lg:col-4 md:col-6 sm:col-12">
          <div class="flex flex-column gap-2">
            <label for="mobileOTP">MobileOTP</label>
            <input pInputText id="mobileOTP" aria-describedby="mobileOTP-help" [formControlName]="'mobileOTP'" />
            <small *ngIf="!isFormValid" id="username-help">
              Please Enter mobileOTP.
            </small>
          </div>
        </div>
        <div class="col-12 lg:col-4 md:col-6 sm:col-12">
          <div class="flex flex-column gap-2">
            <label for="password">Password</label>
            <input pInputText id="password" aria-describedby="password-help" [formControlName]="'password'" />
            <small *ngIf="!isFormValid" id="username-help">
              Please Enter your password.
            </small>
          </div>
        </div>
        <div class="col-12 lg:col-4 md:col-6 sm:col-12">
          <p-button label="Add" icon="pi pi-check" iconPos="right" [type]="'button'" (click)="addUsers()" />
          <p-button label="Update" icon="pi pi-check" iconPos="right" [type]="'button'" (click)="updateUsers()" />
          <p-button label="Cancel" icon="pi pi-check" iconPos="right" [type]="'button'" (click)="cancelEdit()" />
        </div>
      </div>
    </form>

  </p-accordionTab>
</p-accordion>

<!-- <app-shared-table [tableData]="tableData" [tableConfig]="tableConfig"></app-shared-table> -->
<app-feature-table [tableData]="tableData" (emitData)="tableEmitted($event)"></app-feature-table>
<!-- table -->
<div class="table-container">
  <div class="global-search">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <!-- <input #globalFilter pInputText type="text" placeholder="Global Search" [(ngModel)]="globalFilter"
        (input)="dt.filterGlobal(globalFilter.value, 'contains')" /> -->
    </span>
  </div>

</div>