<form [formGroup]="pageSetForm" (ngSubmit)="onSubmit()">
  <p-accordion [multiple]="true">
    <p-accordionTab header="Home" [selected]="true">
      <!-- Home -->
      <div style="max-width: 100vw; margin: 0.5rem auto;" class="surface-300">
        <div formArrayName="home">
          <div *ngFor="let item of home.controls; let i = index" [formGroupName]="i" class="mb-5 ">
            <div class="p-field mb-2">
              <label for="homeImage-{{i}}" class="font-bold text-teal-600">Image {{ i + 1 }}</label>
              <input pInputText id="homeImage-{{i}}" formControlName="image" placeholder="Enter Image URL"
                class="p-inputtext-sm w-full mt-2" />
            </div>
            <div class="p-field ">
              <label for="homeTitle-{{i}}" class="mb-2 font-bold text-blue-600">Title {{ i + 1 }}</label>
              <input pInputText id="hometitle-{{i}}" formControlName="title" placeholder="Enter title"
                class="p-inputtext-sm w-full mt-2" />
            </div>
            <div class="p-field ">
              <label for="homeTitle-{{i}}" class="mb-2 font-bold text-blue-600">Detail {{ i + 1 }}</label>
              <textarea pInputTextarea id="homeTitle-{{i}}" formControlName="detail" placeholder="Enter Detail"
                class="w-full p-inputtextarea-sm mt-2" rows="3"></textarea>
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="col-12 lg:col-4 md:col-4 sm:col-12">
            <button pButton type="button" label="Add More" icon="pi pi-plus"
              class="p-button-sm p-button-success ml-2 w-full" (click)="addItem('home')"></button>
          </div>
          <div class="col-12 lg:col-4 md:col-4 sm:col-12">
            <button pButton type="button" label="Remove Last" icon="pi pi-minus"
              class="p-button-sm p-button-danger ml-2 w-full" (click)="removeItem('home')"
              [disabled]="home.length<=1"></button>
          </div>
          <div class="col-12 lg:col-4 md:col-4 sm:col-12">
            <button pButton type="submit" label="Save" icon="pi pi-save"
              class="p-button-sm p-button-primary ml-2 w-full"></button>
          </div>
        </div>
      </div>
    </p-accordionTab>
    <p-accordionTab header="Aboutus" [selected]="false">
      <!-- Aboutus -->
      <div style="max-width: 100vw; margin: 0.5rem auto;">
        <div formArrayName="aboutus">
          <div *ngFor="let item of aboutus.controls; let i = index" [formGroupName]="i" class="mb-5 ">
            <div class="p-field mb-2">
              <label for="title-{{i}}" class="font-bold text-blue-600">Title {{ i + 1 }}</label>
              <input pInputText id="title-{{i}}" formControlName="title" placeholder="Enter Title"
                class="p-inputtext-sm w-full mt-2" />
            </div>
            <div class="p-field ">
              <label for="desc-{{i}}" class="mb-2 font-bold text-blue-600">Detail {{ i + 1 }}</label>
              <textarea pInputTextarea id="desc-{{i}}" formControlName="detail" placeholder="Enter Detail"
                class="w-full p-inputtextarea-sm mt-2" rows="3"></textarea>
            </div>
          </div>
        </div>
        <div class="grid">
          <div class="col-12 lg:col-4 md:col-4 sm:col-12">
            <button pButton type="button" label="Add More" icon="pi pi-plus"
              class="p-button-sm p-button-success ml-2 w-full" (click)="addItem('aboutus')"></button>
          </div>
          <div class="col-12 lg:col-4 md:col-4 sm:col-12">
            <button pButton type="button" label="Remove Last" icon="pi pi-minus"
              class="p-button-sm p-button-danger ml-2 w-full" (click)="removeItem('aboutus')"
              [disabled]="aboutus.length<=1"></button>
          </div>
          <div class="col-12 lg:col-4 md:col-4 sm:col-12">
            <button pButton type="submit" label="Save" icon="pi pi-save"
              class="p-button-sm p-button-primary ml-2 w-full"></button>
          </div>
        </div>
      </div>
    </p-accordionTab>
    <p-accordionTab header="Products" [selected]="false">
      <!-- Products -->
      <div style="max-width: 100vw; margin: 0.5rem auto;">
        <div formArrayName="products">
          <div *ngFor="let item of products.controls; let i = index" [formGroupName]="i" class="mb-5 ">
            <div class="p-field mb-2">
              <label for="title-{{i}}" class="font-bold text-blue-600">Title {{ i + 1 }}</label>
              <input pInputText id="title-{{i}}" formControlName="title" placeholder="Enter Title"
                class="p-inputtext-sm w-full mt-2" />
            </div>
            <div class="p-field ">
              <label for="desc-{{i}}" class="mb-2 font-bold text-blue-600">Detail {{ i + 1 }}</label>
              <textarea pInputTextarea id="desc-{{i}}" formControlName="detail" placeholder="Enter Detail"
                class="w-full p-inputtextarea-sm mt-2" rows="3"></textarea>
            </div>
          </div>
        </div>
        <div class="grid">
          <div class="col-12 lg:col-4 md:col-4 sm:col-12">
            <button pButton type="button" label="Add More" icon="pi pi-plus"
              class="p-button-sm p-button-success ml-2 w-full" (click)="addItem('products')"></button>
          </div>
          <div class="col-12 lg:col-4 md:col-4 sm:col-12">
            <button pButton type="button" label="Remove Last" icon="pi pi-minus"
              class="p-button-sm p-button-danger ml-2 w-full" (click)="removeItem('products')"
              [disabled]="products.length<=1"></button>
          </div>
          <div class="col-12 lg:col-4 md:col-4 sm:col-12">
            <button pButton type="submit" label="Save" icon="pi pi-save"
              class="p-button-sm p-button-primary ml-2 w-full"></button>
          </div>
        </div>
      </div>
    </p-accordionTab>
    <p-accordionTab header="Contactus" [selected]="false">

    </p-accordionTab>
    <p-accordionTab header="Feedback" [selected]="false">

    </p-accordionTab>
    <p-accordionTab header="Schedule" [selected]="false">

    </p-accordionTab>
  </p-accordion>
</form>