<nav class="navbar">
  <ul>
    <li><a href="#home" (click)="scrollTo('home', $event)">Home</a></li>
    <li><a href="#about" (click)="scrollTo('about', $event)">About</a></li>
    <li><a href="#services" (click)="scrollTo('services', $event)">Services</a></li>
    <li><a href="#contact" (click)="scrollTo('contact', $event)">Contact</a></li>
  </ul>
</nav>

<div id="home" class="section home">Home Section {{ data | json }}</div>
<div id="about" class="section about">About Section</div>
<div id="services" class="section services">Services Section</div>
<div id="contact" class="section contact">Contact Section</div>