<footer class="footer-container">
  <div class="footer-content">
    <div *ngFor="let section of footerSections" class="footer-section" [ngClass]="section.position">
      <div *ngIf="section.links?.length">
        <h4>{{ section.title }}</h4>
        <ul>
          <li *ngFor="let link of section.links">
            <a [href]="link.url">{{ link.name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="flex justify-content-center flex-wrap">
    <p>&copy; {{ '2025' }} {{ creatorName }}. All rights reserved. Website by {{ creatorName }}</p>
  </div>
</footer>