.legend-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.chart-container {
  padding: 0.5rem;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.card {
  padding: 0.5rem;
}
