<!-- <section>
  <h2>Contact Us</h2>
  <p>Welcome to our Angular-powered smooth scroll demo page.</p>
</section> -->

<!-- <div class="services-container">
  <h2 class="page-title">Our Services</h2>
  <div class="cards-scroll-container">
    <div class="cards-grid">
      <p-card *ngFor="let s of services" header="{{ s.title }}" styleClass="service-card">
        <p>{{ s.desc }}</p>
      </p-card>
    </div>
  </div>
</div> -->

<div class="services-container">
  <h2 class="page-title">Our Services</h2>

  <div class="cards-scroll-container">
    <div class="cards-grid">
      <div class="service-card" *ngFor="let s of services">
        <h3>{{ s.title }}</h3>
        <p>{{ s.desc }}</p>
      </div>
    </div>
  </div>
  <button class="scroll-btn" (click)="scrollNext()">Next ↓</button>

</div>