@if (configData) {
<app-header [configData]="{settings:configData[0].settings,header:configData[0].header}"></app-header>
<main>
  <app-home id="home" [configData]="configData[0].home"></app-home>
  <app-about id="about" [configData]="configData[0].aboutus"></app-about>
  <app-services id="services" [configData]="configData[0].products"></app-services>
  <!-- <app-schedule id="schedule" [configData]="scheduleData"></app-schedule>
  <app-feedback id="feedback" [configData]="feedbackData"></app-feedback> -->
  <app-contact id="contact" [configData]="configData[0].contactus"></app-contact>
</main>
<app-footer [configData]="configData[0].footer"></app-footer>
}