<footer class="footer-container">
  <div class="footer-content">
    <!-- Left: Creator & Contact -->
    <div class="footer-left">
      <h3>Website by {{ creatorName }}</h3>
      <p>Email: <a href="mailto:{{contactEmail}}">{{ contactEmail }}</a></p>
      <p>Phone: <a href="tel:{{contactPhone}}">{{ contactPhone }}</a></p>
    </div>

    <!-- Center: Important Links -->
    <div class="footer-center">
      <h4>Important Links</h4>
      <ul>
        <li *ngFor="let link of importantLinks">
          <a [href]="link.url">{{ link.name }}</a>
        </li>
      </ul>
    </div>

    <!-- Right: Copyright -->
    <div class="footer-right">
      <p>&copy; {{ '2025' }} {{ creatorName }}. All rights reserved.</p>
    </div>
  </div>
</footer>